            Все новости<br/> 
            параметры<br/>
                1) № страницы, по умолчанию первая<br/>
            https://site-news-vtshark.c9users.io/api/allNews/1/
            
            <br/><br/>
            
            Новости пользователя
            параметры<br/>
                1) номер страницы<br/>
                2) id пользователя<br/>
            https://site-news-vtshark.c9users.io/api/userNews/1/2/
            
            <br/><br/>
            новость<br/>
            параметры<br/>
                1) id новости<br/>
                https://site-news-vtshark.c9users.io/api/idNews/19
                
            <br/><br/>
            
            Все пользователи<br/>
            https://site-news-vtshark.c9users.io/api/getAllusers
            
            <br/><br/>
            Профиль пользователя<br/>
                1) id пользователя<br/>
            https://site-news-vtshark.c9users.io/api/getProfile/7
            
            <br/><br/>
            Подписки пользователя<br/>
            1) id пользователя<br/>
            https://site-news-vtshark.c9users.io/api/subsUser/2
            
            <br/><br/>